In [437]:
import pandas as pd
import numpy as np
from sklearn import linear_model, preprocessing, model_selection

In [438]:
Model = linear_model.LinearRegression
# Model = linear_model.LogisticRegression

In [439]:
train = pd.read_csv('../datasets/titanic_train.csv')
test = pd.read_csv('../datasets/titanic_test.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Visualise Relationships

## Clean

In [440]:
def clean_datasets(datasets):
    for dataset in datasets:
        dataset.Age.fillna(dataset.Age.mean(), inplace=True)
        dataset.loc[dataset.Sex == 'female', 'Sex'] = 0
        dataset.loc[dataset.Sex == 'male', 'Sex'] = 1
        dataset.dropna(inplace=True)
    return datasets
train, test = clean_datasets([train, test])

## Extract features and labels

In [441]:
features = train[['Age', 'Fare', 'Sex']]
test_features = test[['Age', 'Fare', 'Sex']]

In [442]:
label = train[['Survived']]

## Normalise

In [443]:
def normalise_datasets(datasets):
    return [preprocessing.scale(dataset) for dataset in datasets]
features, test_features = normalise_datasets([features, test_features])

## Cross validation training data

In [444]:
xtrain, xtest, ytrain, ytest = model_selection.train_test_split(features, label)

In [445]:
clf = Model()
clf.fit(xtrain, ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [446]:
clf.score(xtest, ytest)

0.40924610474724749

## Train Classifer

In [447]:
clf = Model()
clf.fit(features, label)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [448]:
clf.predict(test_features)

array([[ 0.9831454 ],
       [ 0.86970426],
       [ 0.91618596],
       [ 0.9825084 ],
       [ 0.40185193],
       [ 0.45830146],
       [ 0.44916738],
       [ 0.8765277 ],
       [ 0.38363315],
       [ 0.81498277],
       [ 0.48589571],
       [ 1.00642462],
       [ 0.46812578],
       [ 0.97023413],
       [ 0.58672334],
       [ 0.44639476],
       [ 0.86229617],
       [ 0.45744784],
       [ 0.961846  ],
       [ 0.48600292],
       [ 0.82468249],
       [ 0.33321927],
       [ 0.95745952],
       [ 0.74356684],
       [ 0.88626745],
       [ 0.49875761],
       [ 0.91177394],
       [ 0.83833844],
       [ 1.06561858],
       [ 0.43570991],
       [ 0.9228845 ],
       [ 0.34729695],
       [ 0.37053066],
       [ 0.45558177],
       [ 0.98337134],
       [ 0.99147492],
       [ 0.39634696],
       [ 0.37539093],
       [ 0.34962018],
       [ 0.91362909],
       [ 0.79870676],
       [ 0.43321203],
       [ 0.9982744 ],
       [ 1.00700608],
       [ 0.58584687],
       [ 0.42475559],
       [ 0.92428289],
       [ 0.40038882],
       [ 0.89428579],
       [ 0.96946315],
       [ 0.42119478],
       [ 0.30959962],
       [ 0.87666696],
       [ 0.41019032],
       [ 0.40726536],
       [ 0.49184014],
       [ 0.39066977],
       [ 0.98344727],
       [ 0.49153828],
       [ 0.44427133],
       [ 0.36081837],
       [ 0.44625212],
       [ 0.78436176],
       [ 0.48207114],
       [ 0.35476045],
       [ 0.85254048],
       [ 0.35918832],
       [ 0.46801915],
       [ 0.4649775 ],
       [ 1.02172543],
       [ 0.41065723],
       [ 0.45025575],
       [ 0.93448624],
       [ 0.87926555],
       [ 0.36017547],
       [ 0.81319909],
       [ 0.9673397 ],
       [ 0.96034963],
       [ 0.35809087],
       [ 0.84341747],
       [ 0.34373719],
       [ 0.4988889 ],
       [ 0.84617024],
       [ 1.00002291],
       [ 0.86976792],
       [ 0.97254882],
       [ 0.39213963],
       [ 0.49222015],
       [ 0.40718268],
       [ 0.92204889],
       [ 0.91783027]])